<div class="row">
  <% @professor.each do |p| %>
  <div class="col-sm-6 col-md-6">
    <div class="thumbnail">
      <img src="<%=p.img_url%>" alt="...">
      <div class="caption2">
        <h3><%=p.name%><small>교수님</small></h3>
        <p>연구분야:<br><small><%=p.study_part%></small></p></br>
        <p>
          <a href="/professor/pro_detail/<%=p.id%>" class="btn btn-default" role="submit">detail</a>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
