<div>
  <h3>Import a CSV File For Professor</h3>
  <%= form_tag admin_admin_import_path,:method=> :POST, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
