<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/cFE7Sds.jpg" alt="...">
      <div class="caption">
        <h3>다운로드 DOWNLOAD</h3>
        <p>2016년 컴퓨터 과학 전공 학생회</p>
        <p><a href="/intro/intro_download/" class="btn btn-primary" role="button">바로가기</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://i.imgur.com/rhPIs0Q.jpg" alt="">
      <div class="caption">
        <h3>포컴스 FORCOMS</h3>
        <p>c언어 학습 동아리</p>
        <p><a href="/intro/intro_forcoms" class="btn btn-primary" role="button">바로가기</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://ncc.phinf.naver.net/ncc02/2012/1/26/260/01.jpg" alt="...">
      <div class="caption">
        <h3>네리프 Neriff</h3>
        <p>웹 보안 학습 동아리</p>
        <p><a href="/intro/intro_neriff" class="btn btn-primary" role="button">바로가기</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://s-media-cache-ak0.pinimg.com/236x/95/96/24/9596240e392540cdfa67a5eab2b1cd6e.jpg" alt="...">
      <div class="caption">
        <h3>퍼즐 puzzle</h3>
        <p>알고리즘 학습 동아리</p>
        <p><a href="/intro/intro_puzzle" class="btn btn-primary" role="button">바로가기</a></p>
      </div>
    </div>
  </div>
</div>
