<h1>Chat!!</h1>

<div class="main">
  <div class="message-history" id="messages">
    <%= render @messages %>
  </div>
</div>



<div class="footer">
  <div class="input-box">
    <input type="text" class="input-box_text" data-behavior="room_speaker"/>
  </div>
</div>
